
.root {
    -fx-background-color: #191919;
}

.configBox {
    -fx-background-color: #292929;
}

.menu {

}

.menu:hover {
    -fx-background-color: #606060;
}

.menu:showing {
    -fx-background-color: #606060;
}

.menuBar {
    -fx-background-color: #202020;
    -fx-padding: 0 0 0 0;
}
.menuBar:highlighted {
    -fx-background-color: #606060;
}

.menuBar .label {
    -fx-text-fill: white;
}

.menuBar > .container > .menu-button {

}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-padding: 0 0 0 0;

}



.menuItem {
    -fx-background-color: #202020;

}

.menuItem .context-menu {
    -fx-background-color: red;
}
.menuItem:focused {
    -fx-background-color: #606060;
}

.menuItem:focused .label {
    -fx-text-fill: white;
}

.menuItem .label{
    -fx-text-fill: white;
}



.padBox {
    -fx-padding: 150 50 200 100;
    -fx-background-color: #292929;

}

.pad {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-graphic: url("../Picture/PadW.png");
}

.padR {

}

.padRUsed {
    -fx-graphic: url("../Picture/PadRUsed.png");
}

.padR:pressed {
    -fx-graphic: url("../Picture/PadROnPress.png");
}

.padB {

}

.padBUsed {
    -fx-graphic: url("../Picture/PadBUsed.png");
}

.padB:pressed {
    -fx-graphic: url("../Picture/PadBOnPress.png");
}

.padG {

}

.padGUsed {
    -fx-graphic: url("../Picture/PadGUsed.png");
}

.padG:pressed {
    -fx-graphic: url("../Picture/PadGOnPress.png");
}

.padP {

}

.padPUsed {
    -fx-graphic: url("../Picture/PadPUsed.png");
}

.padP:pressed {
    -fx-graphic: url("../Picture/PadPOnPress.png");
}

.radioButton {
    -fx-padding: 0 0 0 40;
}

.recordButton {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-graphic: url("../Picture/Record.png");
}

.recordButton:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-graphic: url("../Picture/RecordHover.png");
}

.recordButtonUsed {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-graphic: url("../Picture/RecordOnUse.png");
}

.recordButtons {
    -fx-padding: 0 0 0 30;
}

.recordInfos {
    -fx-padding: 10 20 0 0;
}

.stopButton {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-graphic: url("../Picture/Stop.png");
}

.stopButton:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-graphic: url("../Picture/StopHover.png");
}

.title {
    -fx-text-fill: #f9f9f9;
    -fx-font-size: 14px;
}

.text {
}

.time {
    -fx-padding: 0 0 0 20;
    -fx-font-size: 20px;
}