
.root {
    -fx-background-color: #191919;
}

.configBox {
    -fx-background-color: #292929;
}

.menu {

}

.menu:hover {
    -fx-background-color: #606060;
}

.menu:showing {
    -fx-background-color: #606060;
}

.menuBar {
    -fx-background-color: #202020;
    -fx-padding: 0 0 0 0;
}
.menuBar:highlighted {
    -fx-background-color: #606060;
}

.menuBar .label {
    -fx-text-fill: white;
}

.menuBar > .container > .menu-button {

}

.manualPage1 {
   -fx-graphic: "../Picture/ManualPage1";
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-padding: 0 0 0 0;

}


.menuItem {
    -fx-background-color: #202020;

}

.menuItem .context-menu {
    -fx-background-color: #202020;
}
.menuItem:focused {
    -fx-background-color: #606060;
}
.menuItem:hover {
    -fx-background-color: #606060;
}

.menuItem:focused .label {
    -fx-text-fill: white;
}

.menuItem .label{
    -fx-text-fill: white;
}



.padBox {
    -fx-padding: 150 50 200 100;
    -fx-background-color: #292929;

}

.pad {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-graphic: url("../Picture/PadW.png");
}

.padR {

}

.padRUsed {
    -fx-graphic: url("../Picture/PadRUsed.png");
}

.padR:pressed {
    -fx-graphic: url("../Picture/PadROnPress.png");
}

.padB {

}

.padBUsed {
    -fx-graphic: url("../Picture/PadBUsed.png");
}

.padB:pressed {
    -fx-graphic: url("../Picture/PadBOnPress.png");
}

.padG {

}

.padGUsed {
    -fx-graphic: url("../Picture/PadGUsed.png");
}

.padG:pressed {
    -fx-graphic: url("../Picture/PadGOnPress.png");
}

.padP {

}

.padPUsed {
    -fx-graphic: url("../Picture/PadPUsed.png");
}

.padP:pressed {
    -fx-graphic: url("../Picture/PadPOnPress.png");
}

.radioButton {
    -fx-padding: 0 0 0 40;
}

.recordButton {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-graphic: url("../Picture/Record.png");
}

.recordButton:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-graphic: url("../Picture/RecordHover.png");
}

.recordButtonUsed {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-graphic: url("../Picture/RecordOnUse.png");
}

.recordButtons {
    -fx-padding: 0 0 0 30;
}

.recordBPM {

}

.timeBox {
   /* -fx-padding: 0 10 0 10; */
}

.recordInfos {
    -fx-padding: 10 10 0 20;
    -fx-max-width: 280px;
}

.stopButton {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-graphic: url("../Picture/Stop.png");
}

.stopButton:hover {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-graphic: url("../Picture/StopHover.png");
}

.title {
    -fx-text-fill: #f9f9f9;
    -fx-font-size: 14px;
}

.text {
}

.textP {
    -fx-padding: 0 0 0 0;
}

.time {
    -fx-padding: 0 0 0 0;
    -fx-font-size: 20px;
}

.tooltip {
    -fx-font-size: 12px;
}

.effectsBox {
    -fx-padding: 0 0 0 5;
}


.toggle-button {

    -fx-background-color: #000000, linear-gradient(#202020 100%, #1f2429 20%, #191d22 100%);
    -fx-min-width: 106px;
    -fx-background-radius: 0px;
    -fx-background-insets: 0,1,20,0;
    -fx-text-fill: c0c0c0;
    -fx-font-family: "";
    -fx-text-fill: linear-gradient(white, whitesmoke);
    -fx-font-size: 12px;
    -fx-padding: 10 15 10 15;
}

.toggle-Button:hover {
    -fx-text-fill: white;
}

.submitBox {
    -fx-padding: 0 0 0 150;
}

.submitButton{
    -fx-background-color: #202020
    /*,linear-gradient(#202020 100%, #1f2429 20%, #191d22 100%)
    */
    ;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: c0c0c0;
    -fx-alignment: bottom-right;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0, 4) , 4, 0.0 , 0 , 0);

}

.submitButton:hover{
    -fx-text-fill: white;
}